@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+NL+Guides&family=Playwrite+US+Trad+Guides&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    background-color: #121212;
    background-color :linear-gradient(to right, #000000, #434343);
}

#title h1 {
    font-size: 50px;
    color: #ff0084;
    text-align: center;
    margin-top: 30px;
    font-family: 'Orbitron',serif;
    letter-spacing: 0.2rem;
   
    
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
   
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    justify-content: center;

}

.gallery div img{
    width: 100%;   
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;

}


.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    width: 100%;
    cursor: pointer;
}


.gallery2{
    width: 900px;
    display: flex;
    overflow-x: scroll;
   
}

.gallery2 div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    justify-content: center;

}

.gallery2 div img{
    width: 100%;   
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery2::-webkit-scrollbar{
    display: none;
}

.gallery-wrap2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn2, #nextBtn2{
    width: 50px;
    cursor: pointer;
    margin: 40px;

}


.gallery2 div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    width: 100%;
    cursor: pointer;
}